matplotlib==3.8.0
pandas==2.2.2
SQLAlchemy==2.0.30
plotly==5.24.1
pyodbc==5.0.1
streamlit==1.32.0
openpyxl==3.1.2
streamlit-javascript==0.1.1
requests==2.31.0
beautifulsoup4==4.13.0
lxml==4.9.3
html5lib==1.1
selenium==4.12.0
webdriver-manager==4.0.0
cloudscraper==1.2.68
xlsxwriter==3.1.2
undetected-chromedriver==3.3.0
playwright==1.35.0
PyPDF2==3.0.1
Pillow==10.0.1
PyMuPDF==1.22.5
psycopg2==2.9.8
